<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Employee</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" th:src="@{/js/create.js}" defer></script>
  </head>
  <body class="min-h-screen overflow-auto">
  <header
          class="sticky top-0 z-99 w-full py-3 px-5 flex flex-row justify-end gap-3 items-center"
  >
    <img
            class="w-8 h-8 rounded-full"
            th:src="${conf.getLogo()}"
            alt="logo société"
    />
    <h1 class="text-blue-500 text-xl" th:text="${conf.getName()}"></h1>
  </header>
    <main class="relative w-full flex justify-center">
      <div class="w-full max-w-lg">
        <form
          class="bg-white shadow-md shadow-slate-500 rounded px-8 pt-6 pb-8 mb-4"
          action="#"
          th:action="@{/save}"
          th:object="${employee}"
          method="post"
          enctype="multipart/form-data"
        >
          <div
            id="profile"
            class="mx-auto relative object-cover w-28 h-32 bg-white bg-gray-50 border border-gray-300 rounded shadow hover:bg-gray-100"
          >
            <label
              id="profile-pic-label"
              for="profile-pic-upload"
              class="absolute w-full bg-gray-50 border border-gray-300 h-full flex justify-center items-center z-999"
              >Add picture</label
            >
            <input
              type="file"
              id="profile-pic-upload"
              th:field="*{image}"
              class="none"
              hidden
              onchange="loadFile(event)"
            />
            <img
              id="profile-pic-preview"
              style="display: none"
              class="w-full h-full"
            />
          </div>

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="lastname"
              type="text"
              placeholder="Lastname"
              th:field="*{lastName}"
            />
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="firstname"
              type="text"
              placeholder="Firstname"
              th:field="*{firstName}"
            />
          </div>

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              type="date"
              class="shadow appearance-none w-2/4 py-2 px-3 bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Birthdate"
              th:field="*{birthDate}"
            />
            <select
              th:field="*{gender}"
              id="gender"
              class="shadow appearance-none w-2/4 py-2 px-3 bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            >
              <option value="g">Choose a gender</option>
              <option th:value="M" value="M" th:text="Male" selected></option>
              <option th:value="F" value="M" th:text="Female"></option>
            </select>
          </div>

          <div class="my-4">
            <input
              th:field="*{address}"
              type="text"
              id="address"
              placeholder="Address"
              class="shadow py-2.5 px-2 appearance-none w-full bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>

          <label
            class="block my-6 text-xl text-center font-medium text-gray-900"
            >Email</label
          >

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="personal"
              type="email"
              placeholder="Personal"
              th:field="*{personalEmail}"
            />
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email-work"
              type="email"
              placeholder="Work"
              th:field="*{workEmail}"
            />
          </div>

          <label
            class="block my-6 text-xl text-center font-medium text-gray-900"
            >Phone</label
          >

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="mobile"
              type="tel"
              placeholder="Mobile"
              th:field="*{mobile}"
            />
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="home"
              type="tel"
              placeholder="Home"
              th:field="*{home}"
            />
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="work"
              type="tel"
              placeholder="Work"
              th:field="*{work}"
            />
          </div>

          <label
            class="block my-6 text-xl text-center font-medium text-gray-900"
            >Identity Card</label
          >

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="serial"
              type="text"
              placeholder="Serial"
              th:field="*{serial}"
            />
            <input
              type="date"
              class="shadow appearance-none w-2/4 py-2 px-3 bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Delivering Date"
              th:field="*{deliveredAt}"
            />
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="deliveredIn"
              type="text"
              placeholder="Delivered place"
              th:field="*{deliveredIn}"
            />
          </div>

          <label
            class="block my-6 text-xl text-center font-medium text-gray-900"
            >Company</label
          >

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="position"
              type="text"
              placeholder="Position"
              th:field="*{position}"
            />
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="children"
              value="0"
              min="0"
              type="number"
              placeholder="Children"
              th:field="*{children}"
            />
          </div>

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <select
              id="category"
              th:field="*{category}"
              class="shadow appearance-none w-2/4 py-2 px-3 bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            >
              <option value="dummy" disabled>Choose a category</option>
              <option th:value="C1" value="C1">C1</option>
              <option th:valuevalue="C2" value="C2">C2</option>
              <option th:valuevalue="C3" value="C3">C3</option>
              <option th:value="C4" value="C4">C4</option>
              <option th:value="C5" value="C5">C5</option>
            </select>
            <input
              class="shadow appearance-none bg-gray-50 border border-gray-300 rounded w-2/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="cnaps"
              type="text"
              placeholder="CNAPS"
              th:field="*{cnaps}"
            />
          </div>

          <div
            class="my-4 py-4 flex flex-row justify-center gap-10 items-center w-full"
          >
            <input
              type="date"
              class="shadow appearance-none w-2/4 py-2 px-3 bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Start"
              th:field="*{startedAt}"
            />
            <input
              type="date"
              class="shadow appearance-none w-2/4 py-2 px-3 bg-gray-50 border border-gray-300 rounded text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              placeholder="Departure"
              th:field="*{departedAt}"
            />
          </div>

          <div class="flex items-center justify-between">
            <a
              class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="button"
              th:href="@{/employees}"
            >
              Cancel
            </a>
            <button
              class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit"
            >
              Create
            </button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
