<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee Management</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="text/javascript" th:src="@{/js/index.js}" defer></script>
  </head>
  <body class="min-h-screen">
    <header
      class="w-full py-3 px-5 flex flex-row justify-end gap-3 items-center"
    >
      <img
        class="w-8 h-8 rounded-full"
        th:src="${conf.getLogo()}"
        alt="logo société"
      />
      <h1 class="text-blue-500 text-xl" th:text="${conf.getName()}"></h1>
    </header>
    <main
      class="w-full flex flex-col items-center justify-center my-20 h-96 gap-20"
    >
      <h2 class="text-blue-400 uppercase text-4xl">Employee Management</h2>
      <button
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        onclick="redirectToEmployees()"
      >
        Go
      </button>
    </main>
  </body>
</html>
